In [6]:
#METATRADER

from datetime import datetime
import MetaTrader5 as mt5
import time
import telepot
import pytz

import pandas as pd
pd.set_option('display.max_columns', 500) # número de colunas
pd.set_option('display.width', 1500)      # largura máxima da tabela
pd.options.mode.chained_assignment = None  # default='warn'

agora = datetime.now()
#print(f'Buscando dados...{agora}')

#if not mt5.initialize(login=54679378, server="MetaQuotes-Demo", password="hz7ulfri"):
if not mt5.initialize(login=1092947504, server="ClearInvestimentos-DEMO", password="Joh0516"):
    print("initialize() failed, error code =",mt5.last_error())
    quit()

diaHoje = 5
diaAmanha = 6
diaHoje = str(diaHoje)

symbol = 'WDOG22'

# CRIAÇÃO DOS CÁLCULOS (MÉDIAS)
#timezone = pytz.timezone("Etc/UTC")
#utc_from = datetime(2022, 1, diaAmanha, tzinfo=timezone)
ratesM1 = mt5.copy_rates_from_pos(symbol, mt5.TIMEFRAME_M5, 0, 210)
rates_frameM1 = pd.DataFrame(ratesM1)
rates_frameM1['time']=pd.to_datetime(rates_frameM1['time'], unit='s')
dfM1 = rates_frameM1[['time','open','high','low','close']]
dfM1 = dfM1.tail(5)


#dfM1 = dfM1.loc[dfM1["time"].between('2022-1-4 10:01:00', '2022-1-4 18:00:00')]

display(dfM1)

candleRefHigh = dfM1['high'].iloc[-3]
candleRefLow = dfM1['low'].iloc[-3]

candleINSHigh = dfM1['high'].iloc[-2]
candleINSLow = dfM1['low'].iloc[-2]

print(f'Ref High: {candleRefHigh}')
print(f'Ref Low: {candleRefLow}')
print(f'Inside High: {candleINSHigh}')
print(f'Inside Low: {candleINSLow}')


dfM1['RefHigh'] = candleRefHigh
dfM1['RefLow'] = candleRefLow
dfM1['INSHigh'] = candleINSHigh
dfM1['INSLow'] = candleINSLow

dfM1 = dfM1[['time','RefHigh','RefLow','INSHigh','INSLow']]
dfM1

                   time    open    high     low   close
205 2022-01-06 16:45:00  5714.0  5714.0  5701.5  5709.5
206 2022-01-06 16:50:00  5710.0  5711.0  5705.5  5707.5
207 2022-01-06 16:55:00  5707.5  5712.0  5706.5  5711.5
208 2022-01-06 17:00:00  5711.5  5711.5  5709.0  5709.0
209 2022-01-06 17:05:00  5709.5  5711.0  5709.0  5710.5

Ref High: 5712.0
Ref Low: 5706.5
Inside High: 5711.5
Inside Low: 5709.0

                   time  RefHigh  RefLow  INSHigh  INSLow
205 2022-01-06 16:45:00   5712.0  5706.5   5711.5  5709.0
206 2022-01-06 16:50:00   5712.0  5706.5   5711.5  5709.0
207 2022-01-06 16:55:00   5712.0  5706.5   5711.5  5709.0
208 2022-01-06 17:00:00   5712.0  5706.5   5711.5  5709.0
209 2022-01-06 17:05:00   5712.0  5706.5   5711.5  5709.0

In [60]:
#VERSAO 3 

from datetime import datetime
import time
import telepot
import pytz
import yfinance as yf
import numpy as np

# importamos o módulo pandas para exibir os dados recebidos na forma de uma tabela
import pandas as pd
pd.set_option('display.max_columns', 500) # número de colunas
pd.set_option('display.width', 1500)      # largura máxima da tabela
pd.options.mode.chained_assignment = None  # default='warn'


#symbols = ['^BVSP','VALE3.SA','PETR4.SA','ITUB4.SA','BBDC4.SA']
symbols = ['^BVSP','USDBRL=X','VALE3.SA','PETR4.SA','ITUB4.SA','BBDC4.SA','PETR3.SA','B3SA3.SA','ELET3.SA','ABEV3.SA','RENT3.SA','BBAS3.SA','WEGE3.SA','ITSA4.SA','SUZB3.SA','BPAC11.SA','HAPV3.SA','EQTL3.SA','GGBR4.SA','JBSS3.SA','RADL3.SA','PRIO3.SA','LREN3.SA','RDOR3.SA','RAIL3.SA','BBDC3.SA']
# SEM O DOLAR:
#symbols = ['^BVSP','VALE3.SA','PETR4.SA','ITUB4.SA','BBDC4.SA','PETR3.SA','B3SA3.SA','ELET3.SA','ABEV3.SA','RENT3.SA','BBAS3.SA','WEGE3.SA','ITSA4.SA','SUZB3.SA','BPAC11.SA','HAPV3.SA','EQTL3.SA','GGBR4.SA','JBSS3.SA','RADL3.SA','PRIO3.SA','LREN3.SA','RDOR3.SA','RAIL3.SA','BBDC3.SA']

#for symbol in symbols: 
#print(symbol)

for symbol in symbols:
    resumo  = yf.download (symbol, 
                       period = "1w",
                       start = '2022-10-27', 
                       end = '2022-10-31',
                       interval = "1H",
                       #group_by = 'ticker', ## poderá chamar df[ticker]
                       progress = False)
    resumo = resumo.tail()
    #display(resumo)

    candleRefHigh = resumo['High'].iloc[-3]
    candleRefLow = resumo['Low'].iloc[-3]

    candleINSHigh = resumo['High'].iloc[-2]
    candleINSLow = resumo['Low'].iloc[-2]

    resumo['RefHigh'] = candleRefHigh
    resumo['RefLow'] = candleRefLow
    resumo['INSHigh'] = candleINSHigh
    resumo['INSLow'] = candleINSLow

    resumo2 = resumo[['RefHigh','RefLow','INSHigh','INSLow']]

    if (resumo2['RefHigh'].iloc[-1] > resumo2['INSHigh'].iloc[-1]) & (resumo2['RefLow'].iloc[-1] < resumo2['INSLow'].iloc[-1]):
        print(symbol)
        display(resumo.tail())
        display(resumo2.tail())
        print('INSIDE')
        print('')

RENT3.SA

                                Open       High        Low      Close  Adj Close  Volume    RefHigh     RefLow    INSHigh  INSLow
2022-10-28 12:00:00-03:00  66.930000  67.110001  66.620003  66.769997  66.769997  568700  66.919998  66.150002  66.589996   66.18
2022-10-28 13:00:00-03:00  66.779999  67.110001  66.690002  66.910004  66.910004  387300  66.919998  66.150002  66.589996   66.18
2022-10-28 14:00:00-03:00  66.919998  66.919998  66.150002  66.239998  66.239998  598600  66.919998  66.150002  66.589996   66.18
2022-10-28 15:00:00-03:00  66.239998  66.589996  66.180000  66.480003  66.480003  583900  66.919998  66.150002  66.589996   66.18
2022-10-31 16:00:00-03:00  70.540001  70.540001  70.540001  70.540001  70.540001       0  66.919998  66.150002  66.589996   66.18

                             RefHigh     RefLow    INSHigh  INSLow
2022-10-28 12:00:00-03:00  66.919998  66.150002  66.589996   66.18
2022-10-28 13:00:00-03:00  66.919998  66.150002  66.589996   66.18
2022-10-28 14:00:00-03:00  66.919998  66.150002  66.589996   66.18
2022-10-28 15:00:00-03:00  66.919998  66.150002  66.589996   66.18
2022-10-31 16:00:00-03:00  66.919998  66.150002  66.589996   66.18

INSIDE

GGBR4.SA

                                Open       High        Low      Close  Adj Close   Volume    RefHigh     RefLow    INSHigh  INSLow
2022-10-28 12:00:00-03:00  25.049999  25.389999  25.030001  25.309999  25.309999  2953400  25.690001  25.370001  25.620001   25.43
2022-10-28 13:00:00-03:00  25.320000  25.580000  25.320000  25.480000  25.480000  1130000  25.690001  25.370001  25.620001   25.43
2022-10-28 14:00:00-03:00  25.490000  25.690001  25.370001  25.590000  25.590000  1126600  25.690001  25.370001  25.620001   25.43
2022-10-28 15:00:00-03:00  25.580000  25.620001  25.430000  25.570000  25.570000  1501600  25.690001  25.370001  25.620001   25.43
2022-10-31 16:00:00-03:00  25.750000  25.750000  25.750000  25.750000  25.750000        0  25.690001  25.370001  25.620001   25.43

                             RefHigh     RefLow    INSHigh  INSLow
2022-10-28 12:00:00-03:00  25.690001  25.370001  25.620001   25.43
2022-10-28 13:00:00-03:00  25.690001  25.370001  25.620001   25.43
2022-10-28 14:00:00-03:00  25.690001  25.370001  25.620001   25.43
2022-10-28 15:00:00-03:00  25.690001  25.370001  25.620001   25.43
2022-10-31 16:00:00-03:00  25.690001  25.370001  25.620001   25.43

INSIDE

In [59]:
from datetime import datetime
import time
import telepot
import pytz
import yfinance as yf
import numpy as np

# importamos o módulo pandas para exibir os dados recebidos na forma de uma tabela
import pandas as pd
pd.set_option('display.max_columns', 500) # número de colunas
pd.set_option('display.width', 1500)      # largura máxima da tabela
pd.options.mode.chained_assignment = None  # default='warn'


#symbols = ['^BVSP','VALE3.SA','PETR4.SA','ITUB4.SA','BBDC4.SA']
symbols = ['^BVSP','USDBRL=X','VALE3.SA','PETR4.SA','ITUB4.SA','BBDC4.SA','PETR3.SA','B3SA3.SA','ELET3.SA','ABEV3.SA','RENT3.SA','BBAS3.SA','WEGE3.SA','ITSA4.SA','SUZB3.SA','BPAC11.SA','HAPV3.SA','EQTL3.SA','GGBR4.SA','JBSS3.SA','RADL3.SA','PRIO3.SA','LREN3.SA','RDOR3.SA','RAIL3.SA','BBDC3.SA']
# SEM O DOLAR:
#symbols = ['^BVSP','VALE3.SA','PETR4.SA','ITUB4.SA','BBDC4.SA','PETR3.SA','B3SA3.SA','ELET3.SA','ABEV3.SA','RENT3.SA','BBAS3.SA','WEGE3.SA','ITSA4.SA','SUZB3.SA','BPAC11.SA','HAPV3.SA','EQTL3.SA','GGBR4.SA','JBSS3.SA','RADL3.SA','PRIO3.SA','LREN3.SA','RDOR3.SA','RAIL3.SA','BBDC3.SA']

#for symbol in symbols: 
#print(symbol)


resumo  = yf.download ('PETR4.SA', 
                   #period = "1w",
                   start = '2022-09-27', 
                   end = '2022-10-31',
                   interval = "15m",
                   #group_by = 'ticker', ## poderá chamar df[ticker]
                   progress = False)
resumo = resumo.tail(50)
display(resumo)

                                Open       High        Low      Close  Adj Close    Volume
Datetime
2022-10-26 15:45:00-03:00  32.930000  33.160000  32.869999  32.900002  32.900002   6407900
2022-10-27 10:00:00-03:00  32.810001  33.540001  32.799999  32.930000  32.930000   4246700
2022-10-27 10:15:00-03:00  32.930000  33.230000  32.810001  32.950001  32.950001   5103100
2022-10-27 10:30:00-03:00  32.950001  33.369999  32.799999  33.250000  33.250000   6387400
2022-10-27 10:45:00-03:00  33.259998  33.290001  32.970001  33.160000  33.160000   3872200
2022-10-27 11:00:00-03:00  33.160000  33.290001  32.980000  33.209999  33.209999   3042200
2022-10-27 11:15:00-03:00  33.209999  33.220001  32.980000  33.040001  33.040001   2509700
2022-10-27 11:30:00-03:00  33.020000  33.040001  32.689999  32.730000  32.730000   2676600
2022-10-27 11:45:00-03:00  32.720001  32.950001  32.669998  32.950001  32.950001   5849800
2022-10-27 12:00:00-03:00  32.930000  33.169998  32.880001  33.060001  33.060001   2666000
2022-10-27 12:15:00-03:00  33.060001  33.200001  32.950001  33.139999  33.139999   5006200
2022-10-27 12:30:00-03:00  33.139999  33.279999  32.939999  33.009998  33.009998   6732400
2022-10-27 12:45:00-03:00  32.990002  33.220001  32.970001  33.200001  33.200001   4041300
2022-10-27 13:00:00-03:00  33.220001  33.340000  33.130001  33.340000  33.340000   3481000
2022-10-27 13:15:00-03:00  33.330002  33.369999  33.130001  33.150002  33.150002   2270600
2022-10-27 13:30:00-03:00  33.139999  33.230000  33.090000  33.090000  33.090000   1288000
2022-10-27 13:45:00-03:00  33.090000  33.230000  33.049999  33.200001  33.200001   2284700
2022-10-27 14:00:00-03:00  33.200001  33.230000  33.080002  33.110001  33.110001   8600500
2022-10-27 14:15:00-03:00  33.099998  33.150002  33.029999  33.070000  33.070000   1671300
2022-10-27 14:30:00-03:00  33.070000  33.130001  33.029999  33.049999  33.049999   1276900
2022-10-27 14:45:00-03:00  33.049999  33.130001  32.900002  32.919998  32.919998   1906300
2022-10-27 15:00:00-03:00  32.919998  33.049999  32.900002  32.970001  32.970001   1402100
2022-10-27 15:15:00-03:00  32.959999  32.970001  32.810001  32.820000  32.820000   2322400
2022-10-27 15:30:00-03:00  32.820000  32.889999  32.799999  32.820000  32.820000   1445200
2022-10-27 15:45:00-03:00  32.810001  32.910000  32.799999  32.840000  32.840000   1277000
2022-10-28 10:00:00-03:00  32.700001  32.930000  32.560001  32.700001  32.700001   3034200
2022-10-28 10:15:00-03:00  32.680000  33.060001  32.630001  32.880001  32.880001   2926300
2022-10-28 10:30:00-03:00  32.869999  32.990002  32.529999  32.669998  32.669998  13049000
2022-10-28 10:45:00-03:00  32.660000  33.020000  32.520000  33.000000  33.000000   6827100
2022-10-28 11:00:00-03:00  32.990002  33.119999  32.730000  32.889999  32.889999   4901200
2022-10-28 11:15:00-03:00  32.889999  33.029999  32.810001  32.869999  32.869999   3534300
2022-10-28 11:30:00-03:00  32.869999  32.889999  32.549999  32.709999  32.709999   5161900
2022-10-28 11:45:00-03:00  32.709999  32.759998  32.630001  32.709999  32.709999   1809800
2022-10-28 12:00:00-03:00  32.639999  32.680000  32.480000  32.549999  32.549999   3981400
2022-10-28 12:15:00-03:00  32.540001  32.779999  32.500000  32.660000  32.660000   5159600
2022-10-28 12:30:00-03:00  32.660000  32.869999  32.599998  32.740002  32.740002   2820100
2022-10-28 12:45:00-03:00  32.740002  32.820000  32.720001  32.770000  32.770000   1419200
2022-10-28 13:00:00-03:00  32.779999  32.840000  32.700001  32.820000  32.820000   3181300
2022-10-28 13:15:00-03:00  32.810001  32.840000  32.750000  32.840000  32.840000   1348800
2022-10-28 13:30:00-03:00  32.830002  32.900002  32.799999  32.860001  32.860001   1842900
2022-10-28 13:45:00-03:00  32.860001  33.000000  32.830002  32.889999  32.889999   2048200
2022-10-28 14:00:00-03:00  32.880001  32.889999  32.790001  32.880001  32.880001   1384400
2022-10-28 14:15:00-03:00  32.880001  32.950001  32.810001  32.889999  32.889999   1327000
2022-10-28 14:30:00-03:00  32.889999  32.910000  32.799999  32.889999  32.889999   1858100
2022-10-28 14:45:00-03:00  32.889999  32.930000  32.830002  32.840000  32.840000   1255200
2022-10-28 15:00:00-03:00  32.830002  32.880001  32.750000  32.810001  32.810001   1365200
2022-10-28 15:15:00-03:00  32.810001  32.869999  32.720001  32.759998  32.759998   2500800
2022-10-28 15:30:00-03:00  32.750000  32.770000  32.570000  32.650002  32.650002   3620600
2022-10-28 15:45:00-03:00  32.660000  32.709999  32.529999  32.669998  32.669998   4291700
2022-10-31 16:00:00-03:00  29.809999  29.809999  29.809999  29.809999  29.809999         0