In [30]:
from datetime import datetime
import time
import telepot
import pytz
import yfinance as yf
import numpy as np

# importamos o módulo pandas para exibir os dados recebidos na forma de uma tabela
import pandas as pd
pd.set_option('display.max_columns', 500) # número de colunas
pd.set_option('display.width', 1500)      # largura máxima da tabela
pd.options.mode.chained_assignment = None  # default='warn'

symbols = ['^BVSP','USDBRL=X']
#symbols = ['^BVSP','USDBRL=X','VALE3.SA','PETR4.SA','ITUB4.SA','BBDC4.SA','PETR3.SA','B3SA3.SA','ELET3.SA','ABEV3.SA','RENT3.SA','BBAS3.SA','WEGE3.SA','ITSA4.SA','SUZB3.SA','BPAC11.SA','HAPV3.SA','EQTL3.SA','GGBR4.SA','JBSS3.SA','RADL3.SA','PRIO3.SA','LREN3.SA','RDOR3.SA','RAIL3.SA','BBDC3.SA']

#for symbol in symbols: 
#print(symbol)
resumo  = yf.download ('^BVSP', interval = "1D", progress = False)
resumo = resumo[['Open','High','Low','Close','Volume']]
resumo1 = resumo[['High','Low']]
resumo1 = resumo1.tail(6)
#print(resumo1.tail(6))
#print('')

mHIGH = resumo1['High'].ewm(span=5).mean()
resumo1.insert(loc=2,column='MediaHIGH',value=mHIGH)

mLOW = resumo1['Low'].ewm(span=5).mean()
resumo1.insert(loc=3,column='MediaLOW',value=mLOW)

varia = (resumo1['MediaHIGH'] - resumo1['MediaLOW']) * 1000
resumo1.insert(loc=4,column='difMAX_MIN',value=varia)

In [31]:
resumo1

                    High            Low      MediaHIGH       MediaLOW    difMAX_MIN
Date
2023-02-23  108663.00000  106731.000000  108663.000000  106731.000000  1.932000e+06
2023-02-24  107611.00000  105360.000000  108031.800000  105908.400000  2.123400e+06
2023-02-27  106402.00000  105227.000000  107259.789474  105585.631579  1.674158e+06
2023-02-28  106794.00000  104932.000000  107066.307692  105314.123077  1.752185e+06
2023-03-01  105497.00000  103105.000000  106463.872038  104466.071090  1.997801e+06
2023-03-02  104912.40625  103706.679688  105896.945442  104188.579194  1.708366e+06

              High       Low  MediaHIGH  MediaLOW  difMAX_MIN
Date
2023-02-23  5.1714  5.109600    5.21385  5.160046   53.803921
2023-02-24  5.1962  5.133803    5.21385  5.160046   53.803921
2023-02-27  5.2108  5.168874    5.21385  5.160046   53.803921
2023-02-28  5.2399  5.180500    5.21385  5.160046   53.803921
2023-03-01  5.2367  5.188100    5.21385  5.160046   53.803921
2023-03-02  5.2281  5.179400    5.21385  5.160046   53.803921

In [43]:
from datetime import datetime
import MetaTrader5 as mt5
import time
import telepot
import pytz
import pandas as pd
pd.set_option('display.max_columns', 500) # número de colunas
pd.set_option('display.width', 1500)      # largura máxima da tabela
pd.options.mode.chained_assignment = None  # default='warn'


# Acessando dados externos de usuario e senha
dados = open('C:\\Users\johnny\\Documents\\Python Scripts\\Anaconda\\Investimentos\\dados_MT5_Clear.txt', 'r', encoding='utf-8')
leitura = dados.readlines()
usuario = leitura[0]
senha = leitura[1]
#print(f'Usuário: {usuario}'.strip())
#print(f'Senha: {senha}')
dados.close() 


# Abrindo MT5
agora = datetime.now()
#print(f'Buscando dados...{agora}')
#if not mt5.initialize(login=54679378, server="MetaQuotes-Demo", password=""):
if not mt5.initialize(login=1092947504, server="ClearInvestimentos-DEMO", password=senha):
    print("initialize() failed, error code =",mt5.last_error())
    quit()

### OBTENÇÃO DOS DADOS
ratesMAIOR = mt5.copy_rates_from_pos('WDOJ23', mt5.TIMEFRAME_D1, 0, 210)
#ratesMAIOR = mt5.copy_rates_from_pos(symbol, mt5.TIMEFRAME_W1, 0, 210)
rates_MAIOR = pd.DataFrame(ratesMAIOR)
rates_MAIOR['time']=pd.to_datetime(rates_MAIOR['time'], unit='s')
resumo = rates_MAIOR[['time','open','high','low','close','tick_volume']]
resumo1 = resumo[['time','high','low']]
resumo1 = resumo1.tail(10)
#resumo1

mHIGH = resumo1['high'].ewm(span=9).mean()
resumo1.insert(loc=3,column='MediaHIGH',value=mHIGH)

mLOW = resumo1['low'].ewm(span=9).mean()
resumo1.insert(loc=4,column='MediaLOW',value=mLOW)

varia = (resumo1['MediaHIGH'] - resumo1['MediaLOW'])
resumo1.insert(loc=5,column='difMAX_MIN',value=varia)

resumo1

          time    high     low    MediaHIGH     MediaLOW  difMAX_MIN
113 2023-02-15  5281.0  5235.5  5281.000000  5235.500000   45.500000
114 2023-02-16  5303.5  5242.0  5293.500000  5239.111111   54.388889
115 2023-02-17  5295.0  5195.5  5294.114754  5221.237705   72.877049
116 2023-02-22  5251.5  5195.0  5279.678862  5212.349593   67.329268
117 2023-02-23  5214.0  5150.0  5260.140885  5193.801999   66.338886
118 2023-02-24  5256.0  5170.0  5259.018475  5187.350334   71.668141
119 2023-02-27  5247.5  5205.0  5256.103456  5191.816994   64.286463
120 2023-02-28  5280.5  5213.0  5261.966405  5196.907668   65.058736
121 2023-03-01  5264.0  5207.0  5262.436175  5199.239047   63.197128
122 2023-03-02  5260.5  5213.0  5262.002360  5202.322299   59.680060