In [17]:
from datetime import datetime
import MetaTrader5 as mt5
import time
import telepot
import pytz

agora = datetime.now()
print(f'Buscando dados...{agora}')
# importamos o módulo pandas para exibir os dados recebidos na forma de uma tabela
import pandas as pd
pd.set_option('display.max_columns', 500) # número de colunas
pd.set_option('display.width', 1500)      # largura máxima da tabela
pd.options.mode.chained_assignment = None  # default='warn'


if not mt5.initialize(login=1092947504, server="ClearInvestimentos-DEMO", password="Joh0516"):
#if not mt5.initialize(login=4999473749, server="MetaQuotes-Demo", password="elf4lnbx"):
    print("initialize() failed, error code =",mt5.last_error())
    quit()

symbols = ['EURUSD','GBPUSD','USDJPY','USDCHF','USDCAD','AUDUSD','NZDUSD','BTCEUR']

#for symbol in symbols: 
rates = mt5.copy_rates_from_pos('WDOK23', mt5.TIMEFRAME_M5, 0, 800)
rates_frame = pd.DataFrame(rates)
rates_frame['time']=pd.to_datetime(rates_frame['time'], unit='s')
resumo = rates_frame[['time','open','high','low','close','tick_volume']]
resumo1 = resumo[['time','high','low']]
resumo1 = resumo1.tail(50)
#print('')

Buscando dados...2023-04-19 14:15:03.352515

In [18]:
maioresALTAS = resumo1.sort_values(by=['high'], ascending=False)
maioresALTAS

                   time    high     low
796 2023-04-19 11:00:00  5070.5  5060.5
795 2023-04-19 10:55:00  5069.0  5055.5
797 2023-04-19 11:05:00  5066.0  5058.5
793 2023-04-19 10:45:00  5063.0  5055.5
791 2023-04-19 10:35:00  5063.0  5048.0
798 2023-04-19 11:10:00  5061.5  5049.5
794 2023-04-19 10:50:00  5061.0  5058.0
792 2023-04-19 10:40:00  5059.5  5053.0
799 2023-04-19 11:15:00  5055.0  5051.0
790 2023-04-19 10:30:00  5049.0  5042.5
787 2023-04-19 10:15:00  5048.0  5041.5
788 2023-04-19 10:20:00  5047.0  5040.5
789 2023-04-19 10:25:00  5046.0  5039.5
786 2023-04-19 10:10:00  5045.5  5036.0
784 2023-04-19 10:00:00  5044.0  5038.5
785 2023-04-19 10:05:00  5042.0  5034.0
783 2023-04-19 09:55:00  5041.5  5029.0
782 2023-04-19 09:50:00  5038.5  5031.0
781 2023-04-19 09:45:00  5038.0  5020.5
774 2023-04-19 09:10:00  5030.0  5016.5
773 2023-04-19 09:05:00  5029.0  5014.0
779 2023-04-19 09:35:00  5025.0  5018.5
776 2023-04-19 09:20:00  5024.5  5017.0
772 2023-04-19 09:00:00  5024.5  5012.5
780 2023-04-19 09:40:00  5024.0  5019.0
778 2023-04-19 09:30:00  5024.0  5015.5
775 2023-04-19 09:15:00  5023.5  5013.5
777 2023-04-19 09:25:00  5023.0  5016.0
770 2023-04-18 17:55:00  4997.5  4987.0
769 2023-04-18 17:50:00  4995.0  4989.0
768 2023-04-18 17:45:00  4995.0  4992.5
767 2023-04-18 17:40:00  4995.0  4990.0
771 2023-04-18 18:00:00  4993.5  4993.5
765 2023-04-18 17:30:00  4993.5  4985.0
766 2023-04-18 17:35:00  4992.5  4990.0
760 2023-04-18 17:05:00  4987.0  4983.5
764 2023-04-18 17:25:00  4986.5  4983.0
761 2023-04-18 17:10:00  4986.0  4982.0
759 2023-04-18 17:00:00  4985.0  4982.0
753 2023-04-18 16:30:00  4985.0  4980.5
754 2023-04-18 16:35:00  4984.5  4982.0
762 2023-04-18 17:15:00  4984.0  4981.5
755 2023-04-18 16:40:00  4983.5  4982.0
763 2023-04-18 17:20:00  4983.5  4982.5
758 2023-04-18 16:55:00  4983.0  4981.0
757 2023-04-18 16:50:00  4983.0  4981.0
756 2023-04-18 16:45:00  4983.0  4980.0
752 2023-04-18 16:25:00  4982.0  4978.0
750 2023-04-18 16:15:00  4981.0  4977.0
751 2023-04-18 16:20:00  4979.0  4976.5

In [ ]:
from datetime import datetime
import MetaTrader5 as mt5
import time
import telepot
import pytz
import pandas as pd
pd.set_option('display.max_columns', 500) # número de colunas
pd.set_option('display.width', 1500)      # largura máxima da tabela
pd.options.mode.chained_assignment = None  # default='warn'


# Acessando dados externos de usuario e senha
dados = open('C:\\Users\johnny\\Documents\\Python Scripts\\Anaconda\\Investimentos\\dados_MT5_Clear.txt', 'r', encoding='utf-8')
leitura = dados.readlines()
usuario = leitura[0]
senha = leitura[1]
#print(f'Usuário: {usuario}'.strip())
#print(f'Senha: {senha}')
dados.close() 


# Abrindo MT5
agora = datetime.now()
#print(f'Buscando dados...{agora}')
#if not mt5.initialize(login=54679378, server="MetaQuotes-Demo", password=""):
if not mt5.initialize(login=1092947504, server="ClearInvestimentos-DEMO", password=senha):
    print("initialize() failed, error code =",mt5.last_error())
    quit()

### OBTENÇÃO DOS DADOS
ratesMAIOR = mt5.copy_rates_from_pos('WDOJ23', mt5.TIMEFRAME_D1, 0, 210)
#ratesMAIOR = mt5.copy_rates_from_pos(symbol, mt5.TIMEFRAME_W1, 0, 210)
rates_MAIOR = pd.DataFrame(ratesMAIOR)
rates_MAIOR['time']=pd.to_datetime(rates_MAIOR['time'], unit='s')
resumo = rates_MAIOR[['time','open','high','low','close','tick_volume']]
resumo1 = resumo[['time','high','low']]
resumo1 = resumo1.tail(10)
#resumo1

mHIGH = resumo1['high'].ewm(span=9).mean()
resumo1.insert(loc=3,column='MediaHIGH',value=mHIGH)

mLOW = resumo1['low'].ewm(span=9).mean()
resumo1.insert(loc=4,column='MediaLOW',value=mLOW)

varia = (resumo1['MediaHIGH'] - resumo1['MediaLOW'])
resumo1.insert(loc=5,column='difMAX_MIN',value=varia)

resumo1